<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Img To Pdf</title>
</head>
<body>


<form id="uploadbanner" enctype="multipart/form-data" method="post" action="{% url 'convert' %}">
    {% csrf_token %}
    <label>Add File</label>
    <input id="fileupload" name="myfile" type="file" multiple/>
    <label>send</label>
    <button type="submit" class="btn btn-info"><i class="fa fa-check" aria-hidden="true"></i> Send</button>
</form>
{% if success %}
<a href="{% url 'download' %}" download class="btn btn-dark float-right">Download</a>
{% endif %}

</body>
</html>